img
{
    float:right
}
.main
{
   width: 100%;
    background-color: aqua;
    height: 200px;
}
.left,.right
{
    width: 50%;
    background-color: red;
    height: 100px;
    border: 2px solid black;
}